<div class="actions">
    <div class="action-title">Actions</div>
    {{#each actions as |action|}}
        {{#if (eq action.type 'boon')}}
            {{> "systems/openlegend-ttrpg/templates/actor/parts/action-boon.html" item=action actorAttr=../actor.system.attributes}}
        {{/if}}
        {{#if (eq action.type 'bane')}}
            {{> "systems/openlegend-ttrpg/templates/actor/parts/action-attack.html" item=action actorAttr=../actor.system.attributes}}
        {{/if}}
        {{#if (eq action.type 'attack')}}
            {{> "systems/openlegend-ttrpg/templates/actor/parts/action-attack.html" item=action actorAttr=../actor.system.attributes}}
        {{/if}}
    {{/each}}
</div>