@import "../variables";

.actions {
  grid-column: 2 / 6;
  grid-row: 5 / 6;

  align-items: center;

  display: inline-grid;
  grid-template-columns: min-content minmax(max-content, 1fr) max-content max-content max-content max-content max-content 3fr min-content min-content min-content;
  grid-template-rows: 20px repeat(auto-fill, 27px);
  grid-gap: 0.1rem;
  grid-column-gap: 0.5rem;

  padding: 0.25em;
  background: $actionsColor;
  border: $simpleBorder;

  .div {
    padding-bottom: 0.25em;
  }

  .action-title {
    grid-column: span 11;
    font-size: large;
    font-weight: bold;
  }
    
  .action-header {
    grid-column: span 1;
    font-style: italic;
  }

  .action-target-option-columns {
    grid-column: span 11;
  }

  .input-group {
    margin-left: 1rem;
  }
}

.action-type, .action-attribute {
  text-transform: capitalize;
  font-variant: small-caps;
}

.action-adv {
  width: 25px;
  text-align: right;
}

.target-count {
  width: 20px;
  text-align: center;
}
