@import "../variables";
  
.gear {
    grid-column: 2/6;
    grid-row: 4/5;
  
    border: $thickBorderGroove;
    background-color: $gearColor;
    overflow-y: scroll;
}
  
.gear .title {
    font-size: large;
    font-weight: bold;
}

.feats {
    grid-column: 2/6;
    grid-row: 6/7;
  
    border: $thickBorderGroove;
    background-color: $featsColor;
    overflow-y: scroll;
}
  
.feats .title {
    grid-column: span 4;
    font-size: large;
    font-weight: bold;
}
  
.perks {
    grid-column: 4/5;
    grid-row: 2/3;
    
    border: $thickBorderGroove;
    background: $perksColor;
}
  
.flaws {
    grid-column: 5/6;
    grid-row: 2/3;
  
    border: $thickBorderGroove;
    background: $flawsColor;
}
  
.perks .title, .flaws .title {
    font-size: large;
    font-weight: bold;
}