@import "../variables";

.feats {
    grid-column: 2/6;
    grid-row: 6/7;
  
    border: $simpleBorder;
    background-color: $featsColor;
    overflow-y: scroll;
}
  
.feats .title {
    grid-column: span 4;
    font-size: large;
    font-weight: bold;
}

.feat-row {
    display: grid;
    grid-template-columns: minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, 10fr) 20px;
    grid-gap: 0.25rem;

    .feat-tier {
        font-style: italic;
        color: $transparentDark;
        border-right: $borderGroove;
        padding-right: 5px;
    }
}