@import "../variables";

.flaws {
    grid-column: 5/6;
    grid-row: 2/3;
  
    border: $thickBorderGroove;
    background: $flawsColor;
}
  
.flaws .title {
    font-size: large;
    font-weight: bold;
}

.perkflaw-row {
    display: grid;
    grid-template-columns: minmax(max-content, auto) 20px;
    grid-gap: 0.2rem;
}