@import "../variables";

.gear {
    grid-column: 2/6;
    grid-row: 4/5;
  
    border: $simpleBorder;
    background-color: $gearColor;
}
  
.gear .title {
    font-size: large;
    font-weight: bold;
}

.gear-row {
    border: $borderGroove;
    background-color: $highlight;

    .gear-name {
        font-size: larger;
        font-weight: bold;
        font-variant: small-caps;
        text-transform: capitalize;
    }

    .gear-summary {
        .gear-title {
            font-style: italic;
            font-weight: bold;
            font-variant: small-caps;
            text-align: center;
            color: $transparentDark;
            margin-top: -2px;
            margin-bottom: -2px;
        }

        .gear-type {
            font-size: x-small;
            font-weight: bold;
            text-align: center;
            color: $transparentDark;
        }
    }

    .weapon-wl {
        font-size: larger;
    }
}

.armor-name {
    font-size: larger;
    font-weight: bold;
    font-variant: small-caps;
    text-transform: capitalize;
    color: rgb(117, 117, 117);

    &.equipped {
        color: black;
    }
}

.armor-row {
    display: grid;
    grid-template-columns: minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, 10fr) max-content 20px;
    grid-gap: 0.5rem;
}

.weapon-row {
    display: grid;
    grid-template-columns: minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, 10fr)  max-content 50px 20px;
    grid-gap: 0.5rem;

    .weapon-affixes {
        font-size: smaller;
    }
}

.gear-row.target-row {
    border-top: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .target-logos {
        margin-right: 1rem;
    }
    .adv-desc {
        width: 175px;
    }

    .range-selector {
        margin-right: 1rem;
    }
}

.generic-row {
    display: grid;
    grid-template-columns: minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, auto) minmax(max-content, 10fr) max-content 20px;
    grid-gap: 0.5rem;

    .generic-affixes {
        font-size: smaller;
    }
}