@import "../variables";

.perks {
    grid-column: 4/5;
    grid-row: 2/3;
    
    border: $thickBorderGroove;
    background: $perksColor;
}
  
.perks .title {
    font-size: large;
    font-weight: bold;
}

.perkflaw-row {
    display: grid;
    grid-template-columns: minmax(max-content, auto) 20px;
    grid-gap: 0.2rem;
}